body {
    /* light font */
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    /* preserve for top navbar */
    margin-top: 4rem;
}

/* re style card to have shadow & hover effect */
.card-shadow {
    /* margin for shadow under */
    margin-bottom: 1rem;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    /* transition: 0.3s; */
}
  
/* On mouse-over, add a deeper shadow */
.card-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* restyle - all card-header get pointer cursor */
.card-header {
    cursor: pointer;
}

/* bigger text for badge */
.badge.badge-pill {
    font-size: 1em;
}

/* fontawesome re-style */
.more-less {
    margin-left: auto;  /* to the right of fex */
    font-size: 1.5rem;
    transition: all 0.2s ease-out; /* rotate transition */
}


/* Task targets */
/* .target-todo::after {
    content: "TODO"
} */
.target-status {
    min-width: 100px;
}
.target-text-todo {
    font-style: normal;
    color: var(--dark);
}
.target-text-done {
    font-style: italic;
    color: var(--gray);
}
.target-text-removed {
    font-style: italic;
    text-decoration: line-through;
    color: var(--gray);
}

/* mimic btn-* bootstrap */
.target-status-done { /* success */
    color: var(--white);
    background-color: var(--success);
    border-color: var(--success);
}

.target-status-todo { /* secondary */
    color: var(--white);
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.target-status-removed { /* warning */
    color: var(--dark);
    background-color: var(--warning);
    border-color: var(--warning);
}

/* remove all margin inside detail status elements */
.report-status-detail * {
    margin: 0 auto;
}

.status-items hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--gray), rgba(0, 0, 0, 0));
    margin: 0.25em auto;
}

.task-status-success .status-button {
    color: var(--success);
    border-color: var(--success);
}
.task-status-warning .status-button {
    color: var(--warning);
    border-color: var(--warning);
}
.task-status-danger .status-button {
    color: var(--danger);
    border-color: var(--danger);
}

.task-status-success .status-icon::before {
    content: "\f05a";   /* fa-info-circle */
    color: var(--success);
}
.task-status-warning .status-icon::before {
    content: "\f06a";   /* fa-exclamation-circle */
    color: var(--warning);
}
.task-status-danger .status-icon::before {
    content: "\f071";   /* fa-exclamation-triangle */
    color: var(--danger);
}

.status-icon {
    font-size: 1.4em;
    margin-right: 0.5em;
}

.dropdown-info-only p {
    margin: 0 auto;
}
/*
.header-status.fa-info-circle {
    color: var(--success);
}
.header-status.fa-exclamation-circle {
    color: var(--warning);
}
.header-status.fa-exclamation-triangle {
    color: var(--danger);
} */

.mainnavbar-user-avatar {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url('imgs/img_avatar.png');
    
    /* make a square container */
    width: 2.4rem;
    height: 2.4rem;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

}

.system-msg {
    font-style: italic;
    color: var(--gray);
}

/* need to put here for webpack to find */
.img-google-dark {
    content: url('imgs/btn_google_dark_normal_ios.svg');
}

/* denser text area for better reading */
.editor-area * {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.editor-area {
    max-height: 20rem;
    margin: 1rem auto;
}

/* CKeditor placeholder */
.ck-editor__is-empty.ck-content.ck-editor__editable::before {
	content: 'Add new Status';
	position: absolute;
	display: block;
	
	margin-top: 0;
    color: var(--gray);
    font-style: italic;
}

/* testing */
.btn-fab {
	position: fixed;
	width:60px;
	height:60px;
	bottom: 2rem;
	right: 2rem;
	background-color: var(--primary);
	color:var(--white);
	border-radius:50px;
	text-align:center;
    box-shadow: 3px 3px 6px var(--gray);
    font-size: 1.6rem;
}

.btn-fab.btn-fab-contained {
	position: absolute;;
    bottom: 1rem;
    right: 1rem; 
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
}

.btn-fab-icon {
    vertical-align: middle;
    margin-bottom: -0.5em;
}